.sg-a-app {
  height: 100%;
  left: 0;
  position: absolute;
  opacity: 0;
  top: 0;
  transition: opacity 1s linear;
  width: 100%;
}
  .sg-a-app--overlaySupport {
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 666;
  }

.sg-a-app-active {
  opacity: 1;
}
